<link rel="stylesheet" type="text/css" href="4-FAQ Page/faq.css">
<!-- Tabs -->
<div ng-controller="FaqController as fc">
    <br>
        <div class="row">
            <div class="col s12">
                    <ul class="tabs tab-demo tabs-fixed-width z-depth-1" >
                <li class="tab" ng-repeat="(category, faq) in fc.categories">
                    <a href="#"ng-click="fc.selectedCategory = category">
                        {{category}}
                    </a>
                </li>
                    </ul>
        </div>
    </div>
<!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Create New Question</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col s8  card-panel amber lighten-5 push-s2 center hoverable">
                            <form class="col s12" id="faqValidate">
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <select id="faqCategoryDropDown" ng-model="fc.category"  ng-options="category as category.name for category in fc.faqCategories" >
                                            <option value="" disabled selected>FAQ Category</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <input id="displayO" type="number" name="Display Order" ng-model="fc.displayO">
                                        <label for="display order">Display Order</label>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s8 offset-s2">
                                            <input id="question" type="text" name="Question"  ng-model="fc.question">
                                            <label for="question">Question</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s8 offset-s2">
                                            <input id="answer" type="text"name="Answer"  ng-model="fc.answer">
                                            <label for="answer">Answer</label>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="button" name="action">Cancel</button>
                                    <button class="btn waves-effect waves-light modal-close" type="submit" name="action" id="submit" ng-click="fc.submit()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- FAQ cards -->
    <div class="row">
              <div class="col s12 m4 l4" ng-repeat="item in fc.categories[fc.selectedCategory]" >
                  <div class="card grey darken-4" ng-hide="fc.isInvincible">
                      <div class="card-content white-text">
                          <span class="card-title"></span>
                          <h4>{{item.category}}</h4>
                          <h6>Question:</h6>  
                          <p>{{item.question}}</p>
                          <h6>Answer:</h6>
                          <p>{{item.answer}}</p>
                          <div class="col s12 m4 l4 right offset-s12">
                              <h6>Display Order: <span class="DOtext">{{item.displayOrder}}</span></h6>
                            </div>
                            <br>
                        </div>
                        <div class="card-action">
                            <a href="#" id="edit">Edit</a>
                            <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="fc.removeFaq(item, $index)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
        </div>
        <!--End of Faq Cards Row-->
</div>

       
