        nav {
            background-color: #d32f2f;
        }
        .btn {
            background-color: #d32f2f;
        }
        .container {
            margin-top: 70px;
        };
        input[type=password]:not(.browser-default):focus:not([readonly]) {
            border-bottom-color: #d32f2f;
        }
        input[type=email]:not(.browser-default):focus:not([readonly]) {      
            border-bottom-color: #d32f2f;
        }
        .btn:hover, .btn-large:hover {
            background-color: black;
        }
        .initialized {
            color: #d32f2f !important;
            font-weight: 500;
        }
        /* label color */
        .input-field label {
            color: #d32f2f !important;
            font-weight: 400 !important;
        }
        /* label underline focus color */
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #808080 !important;
            box-shadow: 0 1px 0 0 #F5CECECE !important;
        }
        .side-nav li>a:hover {
            background-color: black;
            color: white;
        }
        nav ul a:hover {
            background-color: black;
        }