 <!-- Injected Code -->
    <div class="container" ng-controller="LoginController as lc">
        <div class="row">
            <div class="col s8  card-panel amber lighten-5 push-s2 center hoverable">
                <form class="col s8 push-s2">
                    <h2>Login</h2>
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="lc.email">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="lc.pword">
                    <br />
                    <br />
                    <input type="button" class="btn btn-primary" value="Submit" ng-click="lc.submit()">
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>