<!DOCTYPE html>
<html ng-app="QuizWrapApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name=trello content="">
    <title>Home</title>
<!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../Resources/materialize/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<!-- Start of scripts -->
    <script  src="../../Resources/jquery-3.2.1.min.js"></script>
    <!-- JavaScript -->
    <!-- AngularJS -->
    <script src="../../Resources/angular.min.js"></script>
    <!--UI Router-->
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <!-- CSS JavaScript -->
    <script src="../../Resources/materialize/js/materialize.min.js"></script>
    <!-- Links to files -->
    <script type="text/javascript" src="../Apps/apps.js"></script>
    <script type="text/javascript" src="../Controllers/MAINController.js"></script>
    <script type="text/javascript" src="../Controllers/homeController.js"></script>
    <script type="text/javascript" src="../Services/homeService.js"></script>
    <script type="text/javascript" src="../Controllers/faqController.js"></script>
    <script type="text/javascript" src="../Services/faqService.js"></script>
    <script type="text/javascript" src="../Controllers/route-setup.js"></script>
   
<body>
<!-- Nav -->
    <nav class="nav-extended" ng-controller="HomeController as hc">
        <div class="nav-wrapper">
            <a class="brand-logo center">
                <span ng-cloak>{{hc.firstName}} {{hc.lastName}}</span>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="mobile-demo" class="side-nav">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                    <li>
                        <a ui-sref="faq" id="faqNav">My FAQ</a>
                    </li>
                    <li>
                        <a ui-sref="quizzes">My Quizzes</a>
                    </li>
                    <hr>
                    <li>
                        <a href="2-LogIn Page/login.html" id="logout" ng-click="hc.loggingOut()">Log Out</a>
                    </li>
                </ul>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a ui-sref="home">Home</a>
                        </li>
                        <li>
                            <a ui-sref="faq" id="faqNav">My FAQ</a>
                        </li>
                        <li>
                            <a href="quizzes">My Quizzes</a>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="2-LogIn Page/login.html" id="logout" ng-click="hc.loggingOut()">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<!--Ui-View-->
         
                <ui-view>

                </ui-view>
           
            
    </div>
<!-- Startup functions -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('select').material_select();
            $('ul.tabs').tabs();
            $('ul.tabs').tabs('select_tab', 'tab_id');
            $('.modal').modal();
            $('.tooltipped').tooltip({ delay: 50 });
        });
        </script>
</body>

</html>